{%extends "layout/layout.html"%}
{%block content%}

<div class="container">
<h3>แบบฟอร์มการรายงานความก้าวหน้าโครงการ</h3>
<hr>
<!--//////////////////////////////////////// -->
<div class="row fluid">
  <div class="col-md-12">
    <!--<div  align="right">
      <button type="button" class="btn btn-info" id="add_button" data-toggle="modal" data-target="#addProject">สร้าง</button>
    </div>-->
  </br>
  <table class="table table-striped">
    <tr>
 
        <th>โครงการ</th>
        <th><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-file" ></span></button></th>
    </tr>
    <tr>
      <td>โครงการสร้างการรับรู้และเสริมสร้างการเรียนรู้แก่เกษตรกร เพื่อลดความเสี่ยงจากภัยแล้ง</td>   
      <td width="10"><a href="/view_form?view=form1" class="btn btn-success btn-xs" role="button"><span class="glyphicon glyphicon-file" ></span></a></td>
    </tr>
    <tr>
      <td>โครงการขยายผลการทำนาแบบเปียกสลับแห้งในเขตพื้นที่ชลประทาน</td>  
      <td width="10"><a href="/view_form?view=form2" class="btn btn-success btn-xs" role="button"><span class="glyphicon glyphicon-file" ></span></a></td>
    </tr>
    <tr>
      <td>Flowto Report</td>  
      <td width="10"><a href="/projectPage" class="btn btn-success btn-xs" role="button"><span class="glyphicon glyphicon-file" ></span></a></td>
    </tr>
 
  </table>
  </div>
</div> <!-- //row fluid -->
</div> <!-- The first class container -->

{{date}}
{{user.email}}
{%endblock%}
