{%extends "layout/layoutPpop.html"%}
{%block content%}

<div class="col-lg-12">
<h3>{{title}}</h3>
<div class="col-lg-8">
  <div class="input-group">
      <span class="input-group-addon">url</span>
      <input type="text" class="form-control" id='url' name="url">
	  <span class="input-group-btn">
        <button class="btn btn-secondary" type="input">Search</button>
      </span>
  </div>
</div>
</br>
<hr>
{%if rainfall%}
<table class="table">
	<tr>
		<th>Lat</th>
		<th>Long</th>
		<th>id </th>
		<th>telestation_id</th>
		<th>telestation_datetime</th>
		<th>rainfall_today</th>
		<th>rainfall_1h</th>
		<th>rainfall_24h</th>
		<th>update_datetime</th>
		<th>old_id</th>
		<th>name</th>
		<th>anch</th>
		<th>anch_id</th>
		<th>left_bank</th>
		<th>right_bank</th>
		<th>geocode_basin</th>
		<th>ground_level</th>
		<th>district_id</th>
		<th>district</th>
		<th>amphoe_id</th>
		<th>amphoe</th>
		<th>province_id</th>
		<th>province</th>
		<th>area_factor</th>
	</tr>

{%for objs in rainfall.features%}
<tr>
<td>{{objs.geometry.coordinates[1]}}</td>
<td>{{objs.geometry.coordinates[0]}}</td>
<td>{{objs.properties.id }}</td>
<td>{{objs.properties.telestation_id}}</td>
<td>{{objs.properties.telestation_datetime}}</td>
<td>{{objs.properties.rainfall_today}}</td>
<td>{{objs.properties.rainfall_1h}}</td>
<td>{{objs.properties.rainfall_24h}}</td>
<td>{{objs.properties.update_datetime}}</td>
<td>{{objs.properties.old_id}}</td>
<td>{{objs.properties.name}}</td>
<td>{{objs.properties.anch}}</td>
<td>{{objs.properties.anch_id}}</td>
<td>{{objs.properties.left_bank}}</td>
<td>{{objs.properties.right_bank}}</td>
<td>{{objs.properties.geocode_basin}}</td>
<td>{{objs.properties.ground_level}}</td>
<td>{{objs.properties.district_id}}</td>
<td>{{objs.properties.district}}</td>
<td>{{objs.properties.amphoe_id}}</td>
<td>{{objs.properties.amphoe}}</td>
<td>{{objs.properties.province_id}}</td>
<td>{{objs.properties.province}}</td>
<td>{{objs.properties.area_factor}}</td>
</tr>
{%endfor%}
</table>
{%endif%}
{%if rainfallEach%}
<table class="table">
	<tr>
		<th>Lat</th>
		<th>Long</th>
		<th>id</th>
		<th>telestation_id</th>
		<th>telestation_datetime</th>
		<th>rainfall_today</th>
		<th>rainfall_1h</th>
		<th>rainfall_24h</th>
		<th>update_datetime</th>
		<th>old_id</th>
		<th>name</th>
		<th>anch</th>
		<th>anch_id</th>
		<th>left_bank</th>
		<th>right_bank</th>
		<th>geocode_basin</th>
		<th>ground_level</th>
		<th>district_id</th>
		<th>district</th>
		<th>amphoe_id</th>
		<th>amphoe</th>
		<th>province_id</th>
		<th>province</th>
		<th>area_factor</th>
		<th>rainfall_acc</th>
	</tr>

{%for objs in rainfallEach.features%}
<tr>
	<td>{{objs.geometry.coordinates[1]}}</td>
	<td>{{objs.geometry.coordinates[0]}}</td>
	<td>{{objs.properties.id}}</td>
	<td>{{objs.properties.telestation_id}}</td>
	<td>{{objs.properties.telestation_datetime}}</td>
	<td>{{objs.properties.rainfall_today}}</td>
	<td>{{objs.properties.rainfall_1h}}</td>
	<td>{{objs.properties.rainfall_24h}}</td>
	<td>{{objs.properties.update_datetime}}</td>
	<td>{{objs.properties.old_id}}</td>
	<td>{{objs.properties.name}}</td>
	<td>{{objs.properties.anch}}</td>
	<td>{{objs.properties.anch_id}}</td>
	<td>{{objs.properties.left_bank}}</td>
	<td>{{objs.properties.right_bank}}</td>
	<td>{{objs.properties.geocode_basin}}</td>
	<td>{{objs.properties.ground_level}}</td>
	<td>{{objs.properties.district_id}}</td>
	<td>{{objs.properties.district}}</td>
	<td>{{objs.properties.amphoe_id}}</td>
	<td>{{objs.properties.amphoe}}</td>
	<td>{{objs.properties.province_id}}</td>
	<td>{{objs.properties.province}}</td>
	<td>{{objs.properties.area_factor}}</td>
	<td>{{objs.properties.rainfall_acc}}</td>
</tr>
{%endfor%}
</table>
{%endif%}
</div>
{%endblock%}