{%extends "layout/layout.html"%}
{%block content%}

<h3 align="center">แบบฟอร์มติดตามมาตราการสร้างการรับรู้และประชาสัมพันธ์</h3>  
<h4 align="center">โครงการสร้างการรับรู้และเสริมสร้างการเรียนรู้แก่เกษตรกร เพื่อลดความเสี่ยงจากภัยแล้ง</h4>
<hr>

<div class="container">
<table id="form1table" name="form1table" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th rowspan="3">หน่วยงาน</th>
        <th rowspan="3">โครงการชลประทาน</th>
        <th rowspan="3">จังหวัด</th> 
        <th colspan="4"><center>ผลการดำเนินการ</center></th>
      </tr>
      <tr>     
        <th colspan="2"><center>ศ.พ.ก.</center></th>
        <th colspan="2"><center>JMC</center></th>
        <th rowspan="2"><center>ข่าวประชาสัมพันธ์อื่นๆ (ครั้ง)</center></th>
        <th rowspan="2"><center>ภาพถ่ายการลงพื้นที่</center></th>
        <th rowspan="2"><center>แก้ไข/ ลบ</center></th>

      </tr>
      <tr>     
        <th><center>ครั้ง</center></th>
        <th><center>เกษตรกร(คน)</center></th>
        <th><center>ครั้ง</center></th>
        <th><center>เกษตรกร(คน)</center></th>
      </tr>
    </thead>
  </table>
</div>
<!--</div>-->


<script type="text/javascript">
    var obj = {{ lists | dump | safe}};
    $('#form1table').DataTable({
      data: obj,
      "columns": [
      { data : "office_name" },
      { data : "agency_name" },
      { data : "province" },
      { data : "SPK_time" },
      { data : "SPK_person" },
      { data : "JMC_time" },
      { data : "JMC_person" },
      { data : "news" },
      { data : "Uploads" , render: function(d){
        return d.length ? d.length + ' '+'image(s)' : 'No image'; 
          
        }
      },

      //{ data: "img", "render": img},
      /*{
        "render" : function(data, type, full, meta){
          return '<a class="btn btn-success" href="#"><span class="glyphicon glyphicon-pencil"></span></a>';
        }
      },
      {
        "render" : function(data, type, full, meta){
          return '<a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-trash"></span></a>';
        }
      }*/
      { data : "id" , render : function(data) {
        return '<div class="input-group"><span class="input-group-btn"><a href="/edit_form1?id='+data+'" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a></span><span class="input-group-btn"><a href="/delete_form1?id='+data+'" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a></span></div>'
        }
      }
    ],
      "pagingType": "full_numbers",
      dom: 'Bfrtip',
      buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
      ]
      
    });

</script>
	
{%endblock%}

